

.app-container{
  display: flex;
  margin: 0;
  padding: 0;
  height: 100vh;
  
}
.content{
  width: 100%;
  
}
.app-sidebar{
  height: 100vh;
  width: 10%;
  
}

.form-container{

  
  padding: 10px;
  justify-content: center;
  width: 80%;
  max-width: 40rem;
  margin: 30px auto;
  
}
.post-card{
  display: flex;
  margin: 30px auto;
  width: 400px;

  
}

.tags{
  margin: 0 2px;
  font-size: 8px;
}
.reactions-box{
  margin: 0;
}
.reactions{

  display: flex;
  justify-content: space-around;
}
.alert{
  margin: 15px 0 0 0;
}
.icon{
  font-size: 20px;
}
.like{
  font-size: 25px;
}
.footers{
  bottom: 0 !important;
}

@media screen and (max-width: 800px){

.app-container{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  
}.app-sidebar{
  height: 200px !important;
  width: 100% !important;
  display: flex !important;

  
}
.post-card{

width: 350px;

}
.mobDropdown{
  display: none;
}
.mobHeader{
  width: 100% !important;
  margin-right: 0 !important;
}

}